<app-navbar></app-navbar>
<div class="container-fluid login-bg text-center">
    <h5 class="mx-auto mb-5">Reset Password</h5>
    <div class="container-fluid border rounded mydiv py-2">
            <div class="test rounded-circle mx-auto"><i class="fa fa-user" style="color:#00334d;font-size: 30px;"></i></div>
<div class="row my-2">
    <div class="col-lg-12 text-center">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <div class="input-group my-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                      </div>
                      <input type="password" class="form-control" [class.is-valid]="(this.resetForm.value.passwordValidation==this.resetForm.value.confirmPasswordValidation) && this.resetForm.value.passwordValidation!=''&& this.resetForm.value.confrimPasswordValidation!=''" [class.is-invalid]="passwordValidation.invalid && passwordValidation.touched" placeholder="New Password" formControlName="passwordValidation">
                    </div>
                    <div *ngIf="(passwordValidation.invalid && passwordValidation.touched)|| passwordValidation.dirty">
                  
                        <small *ngIf="passwordValidation.errors?.required" class="text-danger">
                          Password is required.
                        </small>
                        </div>
                  
                    <div class="input-group my-3">
                            <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                  </div>
                      <input type="password" class="form-control" [class.is-valid]="(this.resetForm.value.passwordValidation==this.resetForm.value.confirmPasswordValidation) && this.resetForm.value.passwordValidation!='' && this.resetForm.value.confrimPasswordValidation!=''" [class.is-invalid]="confirmPasswordValidation.invalid && confirmPasswordValidation.touched" placeholder="Confirm Password" formControlName="confirmPasswordValidation">
                    </div>
                    <div *ngIf="(confirmPasswordValidation.invalid && confirmPasswordValidation.touched)|| confirmPasswordValidation.dirty">
                  
                        <small *ngIf="confirmPasswordValidation.errors?.required" class="text-danger">
                          Password is required.
                        </small>
                        <small *ngIf="this.resetForm.value.passwordValidation!=this.resetForm.value.confirmPasswordValidation" class="text-danger">
                            Passwords must match.
                          </small>
                        </div>
                        <br>
                        <button type="submit" [disabled]="!resetForm.valid" class="btn btn-block btn-primary mx-auto">Submit</button>
                  </form>
    </div>
</div>
</div>
</div>

