<app-navbar></app-navbar>
<div class="container-fluid login-bg text-center">
    <h5 class="mx-auto mb-5">Forgot Password</h5>
    <div class="container-fluid border rounded mydiv py-2">
            <div class="test rounded-circle mx-auto"><i class="fa fa-user" style="color:#00334d;font-size: 30px;"></i></div>
<div class="row my-2">
    <div class="col-lg-12 text-center">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="input-group my-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                      </div>
                      <input type="text" class="form-control" [class.is-invalid]="emailValidation.invalid && emailValidation.touched" placeholder="Email address" formControlName="emailValidation">
                    </div>
                    <div *ngIf="(emailValidation.invalid && emailValidation.touched)|| emailValidation.dirty">
                  
                        <small *ngIf="emailValidation.errors?.required" class="text-danger">
                          Email is required.
                        </small>
                        <small *ngIf="emailValidation.errors?.email" class="text-danger">
                            Please provide a valid email address.
                        </small>
                        </div>
                        <br>
                        <button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn btn-block btn-primary mx-auto">Submit</button>
                  </form>

    </div>
</div>
</div>
</div>

